/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/fixtures/contracts/
/spec/fixtures/responses/
/spec/reports/
/tmp/

.byebug_history
.rspec_status

!/spec/fixtures/contracts/.keep
!/spec/fixtures/responses/.keep
